In [1]:
## Impotring Important Libraries.
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns

In [2]:
## reading training data.
flight_train=pd.read_excel("E://Live Project Dataset//Flight_train.xlsx")
flight_train.head()

,Airline,Date_of_Journey,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info,Price
0,IndiGo,24/03/2019,Banglore,New Delhi,BLR → DEL,22:20,01:10 22 Mar,2h 50m,non-stop,No info,3897
1,Air India,1/05/2019,Kolkata,Banglore,CCU → IXR → BBI → BLR,05:50,13:15,7h 25m,2 stops,No info,7662
2,Jet Airways,9/06/2019,Delhi,Cochin,DEL → LKO → BOM → COK,09:25,04:25 10 Jun,19h,2 stops,No info,13882
3,IndiGo,12/05/2019,Kolkata,Banglore,CCU → NAG → BLR,18:05,23:30,5h 25m,1 stop,No info,6218
4,IndiGo,01/03/2019,Banglore,New Delhi,BLR → NAG → DEL,16:50,21:35,4h 45m,1 stop,No info,13302

In [3]:
### checking shape of dataset.
flight_train.shape

(10683, 11)

In [4]:
### reading test data.
flight_test=pd.read_excel("E://Live Project Dataset//Flight_test.xlsx")
flight_test.head()

,Airline,Date_of_Journey,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info
0,Jet Airways,6/06/2019,Delhi,Cochin,DEL → BOM → COK,17:30,04:25 07 Jun,10h 55m,1 stop,No info
1,IndiGo,12/05/2019,Kolkata,Banglore,CCU → MAA → BLR,06:20,10:20,4h,1 stop,No info
2,Jet Airways,21/05/2019,Delhi,Cochin,DEL → BOM → COK,19:15,19:00 22 May,23h 45m,1 stop,In-flight meal not included
3,Multiple carriers,21/05/2019,Delhi,Cochin,DEL → BOM → COK,08:00,21:00,13h,1 stop,No info
4,Air Asia,24/06/2019,Banglore,Delhi,BLR → DEL,23:55,02:45 25 Jun,2h 50m,non-stop,No info

In [5]:
### checking shape of dataset.
flight_test.shape

(2671, 10)

In [6]:
### Combining train and test dataset.
big_df=flight_train.append(flight_test,sort=False)
big_df.head()

,Airline,Date_of_Journey,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info,Price
0,IndiGo,24/03/2019,Banglore,New Delhi,BLR → DEL,22:20,01:10 22 Mar,2h 50m,non-stop,No info,3897.0
1,Air India,1/05/2019,Kolkata,Banglore,CCU → IXR → BBI → BLR,05:50,13:15,7h 25m,2 stops,No info,7662.0
2,Jet Airways,9/06/2019,Delhi,Cochin,DEL → LKO → BOM → COK,09:25,04:25 10 Jun,19h,2 stops,No info,13882.0
3,IndiGo,12/05/2019,Kolkata,Banglore,CCU → NAG → BLR,18:05,23:30,5h 25m,1 stop,No info,6218.0
4,IndiGo,01/03/2019,Banglore,New Delhi,BLR → NAG → DEL,16:50,21:35,4h 45m,1 stop,No info,13302.0

In [7]:
### checking shape of combining data.
big_df.shape

(13354, 11)

In [8]:
### Checking datatpes
big_df.dtypes

Airline             object
Date_of_Journey     object
Source              object
Destination         object
Route               object
Dep_Time            object
Arrival_Time        object
Duration            object
Total_Stops         object
Additional_Info     object
Price              float64
dtype: object

### Feature Engineering.

In [9]:
#### creating the Date/Month/Year seperate column from Date_of_Journey columns.
big_df['Date']=big_df['Date_of_Journey'].str.split('/').str[0]
big_df['Month']=big_df['Date_of_Journey'].str.split('/').str[1]
big_df['Year']=big_df['Date_of_Journey'].str.split('/').str[2]

In [10]:
big_df.head()

,Airline,Date_of_Journey,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info,Price,Date,Month,Year
0,IndiGo,24/03/2019,Banglore,New Delhi,BLR → DEL,22:20,01:10 22 Mar,2h 50m,non-stop,No info,3897.0,24,03,2019
1,Air India,1/05/2019,Kolkata,Banglore,CCU → IXR → BBI → BLR,05:50,13:15,7h 25m,2 stops,No info,7662.0,1,05,2019
2,Jet Airways,9/06/2019,Delhi,Cochin,DEL → LKO → BOM → COK,09:25,04:25 10 Jun,19h,2 stops,No info,13882.0,9,06,2019
3,IndiGo,12/05/2019,Kolkata,Banglore,CCU → NAG → BLR,18:05,23:30,5h 25m,1 stop,No info,6218.0,12,05,2019
4,IndiGo,01/03/2019,Banglore,New Delhi,BLR → NAG → DEL,16:50,21:35,4h 45m,1 stop,No info,13302.0,01,03,2019

In [11]:
###Converting all new created column into int datatype.
big_df['Date']=big_df['Date'].astype(int)
big_df['Month']=big_df['Month'].astype(int)
big_df['Year']=big_df['Year'].astype(int)

In [12]:
big_df.dtypes

Airline             object
Date_of_Journey     object
Source              object
Destination         object
Route               object
Dep_Time            object
Arrival_Time        object
Duration            object
Total_Stops         object
Additional_Info     object
Price              float64
Date                 int32
Month                int32
Year                 int32
dtype: object

In [13]:
### dropping Date_of_Journey column
big_df=big_df.drop(['Date_of_Journey'],axis=1)
big_df.head()

,Airline,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info,Price,Date,Month,Year
0,IndiGo,Banglore,New Delhi,BLR → DEL,22:20,01:10 22 Mar,2h 50m,non-stop,No info,3897.0,24,3,2019
1,Air India,Kolkata,Banglore,CCU → IXR → BBI → BLR,05:50,13:15,7h 25m,2 stops,No info,7662.0,1,5,2019
2,Jet Airways,Delhi,Cochin,DEL → LKO → BOM → COK,09:25,04:25 10 Jun,19h,2 stops,No info,13882.0,9,6,2019
3,IndiGo,Kolkata,Banglore,CCU → NAG → BLR,18:05,23:30,5h 25m,1 stop,No info,6218.0,12,5,2019
4,IndiGo,Banglore,New Delhi,BLR → NAG → DEL,16:50,21:35,4h 45m,1 stop,No info,13302.0,1,3,2019

In [14]:
## retrive imp data from Arrival_Time colummn.
big_df['Arrival_Time']=big_df['Arrival_Time'].str.split(' ').str[0]

In [15]:
big_df.head()

,Airline,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info,Price,Date,Month,Year
0,IndiGo,Banglore,New Delhi,BLR → DEL,22:20,01:10,2h 50m,non-stop,No info,3897.0,24,3,2019
1,Air India,Kolkata,Banglore,CCU → IXR → BBI → BLR,05:50,13:15,7h 25m,2 stops,No info,7662.0,1,5,2019
2,Jet Airways,Delhi,Cochin,DEL → LKO → BOM → COK,09:25,04:25,19h,2 stops,No info,13882.0,9,6,2019
3,IndiGo,Kolkata,Banglore,CCU → NAG → BLR,18:05,23:30,5h 25m,1 stop,No info,6218.0,12,5,2019
4,IndiGo,Banglore,New Delhi,BLR → NAG → DEL,16:50,21:35,4h 45m,1 stop,No info,13302.0,1,3,2019

In [16]:
### chekcing null vallues in dataset.
big_df.isnull().sum()

Airline               0
Source                0
Destination           0
Route                 1
Dep_Time              0
Arrival_Time          0
Duration              0
Total_Stops           1
Additional_Info       0
Price              2671
Date                  0
Month                 0
Year                  0
dtype: int64

In [17]:
### Handling null values in Total_Stops.
big_df[big_df['Total_Stops'].isnull()]

,Airline,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info,Price,Date,Month,Year
9039,Air India,Delhi,Cochin,NaN,09:45,09:25,23h 40m,NaN,No info,7480.0,6,5,2019

In [18]:
big_df['Total_Stops']=big_df['Total_Stops'].fillna('1 stop')

In [19]:
big_df['Total_Stops']=big_df['Total_Stops'].replace('non-stop','0 stop')

In [20]:
big_df.head()

,Airline,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info,Price,Date,Month,Year
0,IndiGo,Banglore,New Delhi,BLR → DEL,22:20,01:10,2h 50m,0 stop,No info,3897.0,24,3,2019
1,Air India,Kolkata,Banglore,CCU → IXR → BBI → BLR,05:50,13:15,7h 25m,2 stops,No info,7662.0,1,5,2019
2,Jet Airways,Delhi,Cochin,DEL → LKO → BOM → COK,09:25,04:25,19h,2 stops,No info,13882.0,9,6,2019
3,IndiGo,Kolkata,Banglore,CCU → NAG → BLR,18:05,23:30,5h 25m,1 stop,No info,6218.0,12,5,2019
4,IndiGo,Banglore,New Delhi,BLR → NAG → DEL,16:50,21:35,4h 45m,1 stop,No info,13302.0,1,3,2019

In [21]:
big_df['Stop']=big_df['Total_Stops'].str.split(' ').str[0]

In [22]:
big_df.head()

,Airline,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info,Price,Date,Month,Year,Stop
0,IndiGo,Banglore,New Delhi,BLR → DEL,22:20,01:10,2h 50m,0 stop,No info,3897.0,24,3,2019,0
1,Air India,Kolkata,Banglore,CCU → IXR → BBI → BLR,05:50,13:15,7h 25m,2 stops,No info,7662.0,1,5,2019,2
2,Jet Airways,Delhi,Cochin,DEL → LKO → BOM → COK,09:25,04:25,19h,2 stops,No info,13882.0,9,6,2019,2
3,IndiGo,Kolkata,Banglore,CCU → NAG → BLR,18:05,23:30,5h 25m,1 stop,No info,6218.0,12,5,2019,1
4,IndiGo,Banglore,New Delhi,BLR → NAG → DEL,16:50,21:35,4h 45m,1 stop,No info,13302.0,1,3,2019,1

In [23]:
big_df=big_df.drop(['Total_Stops'],axis=1)

In [24]:
big_df.head()

,Airline,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Additional_Info,Price,Date,Month,Year,Stop
0,IndiGo,Banglore,New Delhi,BLR → DEL,22:20,01:10,2h 50m,No info,3897.0,24,3,2019,0
1,Air India,Kolkata,Banglore,CCU → IXR → BBI → BLR,05:50,13:15,7h 25m,No info,7662.0,1,5,2019,2
2,Jet Airways,Delhi,Cochin,DEL → LKO → BOM → COK,09:25,04:25,19h,No info,13882.0,9,6,2019,2
3,IndiGo,Kolkata,Banglore,CCU → NAG → BLR,18:05,23:30,5h 25m,No info,6218.0,12,5,2019,1
4,IndiGo,Banglore,New Delhi,BLR → NAG → DEL,16:50,21:35,4h 45m,No info,13302.0,1,3,2019,1

In [25]:
big_df['Stop']=big_df['Stop'].astype(int)

In [26]:
big_df.dtypes

Airline             object
Source              object
Destination         object
Route               object
Dep_Time            object
Arrival_Time        object
Duration            object
Additional_Info     object
Price              float64
Date                 int32
Month                int32
Year                 int32
Stop                 int32
dtype: object

In [27]:
#### creating the Hours/Minutes seperate column from Arrival_Time columns.
big_df['Hours']=big_df['Arrival_Time'].str.split(':').str[0]
big_df['Minutes']=big_df['Arrival_Time'].str.split(':').str[1]

In [28]:
big_df.head()

,Airline,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Additional_Info,Price,Date,Month,Year,Stop,Hours,Minutes
0,IndiGo,Banglore,New Delhi,BLR → DEL,22:20,01:10,2h 50m,No info,3897.0,24,3,2019,0,01,10
1,Air India,Kolkata,Banglore,CCU → IXR → BBI → BLR,05:50,13:15,7h 25m,No info,7662.0,1,5,2019,2,13,15
2,Jet Airways,Delhi,Cochin,DEL → LKO → BOM → COK,09:25,04:25,19h,No info,13882.0,9,6,2019,2,04,25
3,IndiGo,Kolkata,Banglore,CCU → NAG → BLR,18:05,23:30,5h 25m,No info,6218.0,12,5,2019,1,23,30
4,IndiGo,Banglore,New Delhi,BLR → NAG → DEL,16:50,21:35,4h 45m,No info,13302.0,1,3,2019,1,21,35

In [29]:
big_df=big_df.drop(['Arrival_Time'],axis=1)
big_df.head()

,Airline,Source,Destination,Route,Dep_Time,Duration,Additional_Info,Price,Date,Month,Year,Stop,Hours,Minutes
0,IndiGo,Banglore,New Delhi,BLR → DEL,22:20,2h 50m,No info,3897.0,24,3,2019,0,01,10
1,Air India,Kolkata,Banglore,CCU → IXR → BBI → BLR,05:50,7h 25m,No info,7662.0,1,5,2019,2,13,15
2,Jet Airways,Delhi,Cochin,DEL → LKO → BOM → COK,09:25,19h,No info,13882.0,9,6,2019,2,04,25
3,IndiGo,Kolkata,Banglore,CCU → NAG → BLR,18:05,5h 25m,No info,6218.0,12,5,2019,1,23,30
4,IndiGo,Banglore,New Delhi,BLR → NAG → DEL,16:50,4h 45m,No info,13302.0,1,3,2019,1,21,35

In [30]:
#### creating the Hours/Minutes seperate column from Dep_Time columns.
big_df['Departure_Hours']=big_df['Dep_Time'].str.split(':').str[0]
big_df['Departure_Minutes']=big_df['Dep_Time'].str.split(':').str[1]

In [31]:
big_df['Departure_Hours']=big_df['Departure_Hours'].astype(int)
big_df['Departure_Minutes']=big_df['Departure_Minutes'].astype(int)
big_df=big_df.drop(['Dep_Time'],axis=1)
big_df.head()

,Airline,Source,Destination,Route,Duration,Additional_Info,Price,Date,Month,Year,Stop,Hours,Minutes,Departure_Hours,Departure_Minutes
0,IndiGo,Banglore,New Delhi,BLR → DEL,2h 50m,No info,3897.0,24,3,2019,0,01,10,22,20
1,Air India,Kolkata,Banglore,CCU → IXR → BBI → BLR,7h 25m,No info,7662.0,1,5,2019,2,13,15,5,50
2,Jet Airways,Delhi,Cochin,DEL → LKO → BOM → COK,19h,No info,13882.0,9,6,2019,2,04,25,9,25
3,IndiGo,Kolkata,Banglore,CCU → NAG → BLR,5h 25m,No info,6218.0,12,5,2019,1,23,30,18,5
4,IndiGo,Banglore,New Delhi,BLR → NAG → DEL,4h 45m,No info,13302.0,1,3,2019,1,21,35,16,50

In [32]:
big_df['Hours']=big_df['Hours'].astype(int)
big_df['Minutes']=big_df['Minutes'].astype(int)

In [33]:
big_df.dtypes

Airline               object
Source                object
Destination           object
Route                 object
Duration              object
Additional_Info       object
Price                float64
Date                   int32
Month                  int32
Year                   int32
Stop                   int32
Hours                  int32
Minutes                int32
Departure_Hours        int32
Departure_Minutes      int32
dtype: object

In [34]:
#### creating the different route seperate column from Route columns.
big_df['Route 1']=big_df['Route'].str.split(' →').str[0]
big_df['Route 2']=big_df['Route'].str.split(' →').str[1]
big_df['Route 3']=big_df['Route'].str.split(' →').str[2]
big_df['Route 4']=big_df['Route'].str.split(' →').str[3]
big_df['Route 5']=big_df['Route'].str.split(' →').str[4]
big_df=big_df.drop(['Route'],axis=1)
big_df.head()

,Airline,Source,Destination,Duration,Additional_Info,Price,Date,Month,Year,Stop,Hours,Minutes,Departure_Hours,Departure_Minutes,Route 1,Route 2,Route 3,Route 4,Route 5
0,IndiGo,Banglore,New Delhi,2h 50m,No info,3897.0,24,3,2019,0,1,10,22,20,BLR,DEL,NaN,NaN,NaN
1,Air India,Kolkata,Banglore,7h 25m,No info,7662.0,1,5,2019,2,13,15,5,50,CCU,IXR,BBI,BLR,NaN
2,Jet Airways,Delhi,Cochin,19h,No info,13882.0,9,6,2019,2,4,25,9,25,DEL,LKO,BOM,COK,NaN
3,IndiGo,Kolkata,Banglore,5h 25m,No info,6218.0,12,5,2019,1,23,30,18,5,CCU,NAG,BLR,NaN,NaN
4,IndiGo,Banglore,New Delhi,4h 45m,No info,13302.0,1,3,2019,1,21,35,16,50,BLR,NAG,DEL,NaN,NaN

In [35]:
## Handling null values in columns.
big_df['Price'].fillna(big_df['Price'].mean(),inplace=True)

big_df['Route 1'].fillna('None',inplace=True)
big_df['Route 2'].fillna('None',inplace=True)
big_df['Route 3'].fillna('None',inplace=True)
big_df['Route 4'].fillna('None',inplace=True)
big_df['Route 5'].fillna('None',inplace=True)

In [36]:
big_df.isnull().sum()

Airline              0
Source               0
Destination          0
Duration             0
Additional_Info      0
Price                0
Date                 0
Month                0
Year                 0
Stop                 0
Hours                0
Minutes              0
Departure_Hours      0
Departure_Minutes    0
Route 1              0
Route 2              0
Route 3              0
Route 4              0
Route 5              0
dtype: int64

In [37]:
big_df=big_df.drop(['Duration'],axis=1)
big_df.head()

,Airline,Source,Destination,Additional_Info,Price,Date,Month,Year,Stop,Hours,Minutes,Departure_Hours,Departure_Minutes,Route 1,Route 2,Route 3,Route 4,Route 5
0,IndiGo,Banglore,New Delhi,No info,3897.0,24,3,2019,0,1,10,22,20,BLR,DEL,None,None,None
1,Air India,Kolkata,Banglore,No info,7662.0,1,5,2019,2,13,15,5,50,CCU,IXR,BBI,BLR,None
2,Jet Airways,Delhi,Cochin,No info,13882.0,9,6,2019,2,4,25,9,25,DEL,LKO,BOM,COK,None
3,IndiGo,Kolkata,Banglore,No info,6218.0,12,5,2019,1,23,30,18,5,CCU,NAG,BLR,None,None
4,IndiGo,Banglore,New Delhi,No info,13302.0,1,3,2019,1,21,35,16,50,BLR,NAG,DEL,None,None

#### Appyling label encoding.

In [38]:
from sklearn.preprocessing import LabelEncoder
ecoder=LabelEncoder()
big_df['Airline']=ecoder.fit_transform(big_df['Airline'])
big_df['Source']=ecoder.fit_transform(big_df['Source'])
big_df['Destination']=ecoder.fit_transform(big_df['Destination'])
big_df['Additional_Info']=ecoder.fit_transform(big_df['Additional_Info'])

big_df['Route 1']=ecoder.fit_transform(big_df['Route 1'])
big_df['Route 2']=ecoder.fit_transform(big_df['Route 2'])
big_df['Route 3']=ecoder.fit_transform(big_df['Route 3'])
big_df['Route 4']=ecoder.fit_transform(big_df['Route 4'])
big_df['Route 5']=ecoder.fit_transform(big_df['Route 5'])

In [39]:
big_df.head()

,Airline,Source,Destination,Additional_Info,Price,Date,Month,Year,Stop,Hours,Minutes,Departure_Hours,Departure_Minutes,Route 1,Route 2,Route 3,Route 4,Route 5
0,3,0,5,8,3897.0,24,3,2019,0,1,10,22,20,0,10,27,11,5
1,1,3,0,8,7662.0,1,5,2019,2,13,15,5,50,2,20,1,3,5
2,4,2,1,8,13882.0,9,6,2019,2,4,25,9,25,3,27,4,5,5
3,3,3,0,8,6218.0,12,5,2019,1,23,30,18,5,2,29,3,11,5
4,3,0,5,8,13302.0,1,3,2019,1,21,35,16,50,0,29,7,11,5

### Feature Selection.

In [40]:
from sklearn.linear_model import Lasso
from sklearn.feature_selection import SelectFromModel

In [41]:
### splitting data into training and testing data.
df_train=big_df[0:10683]
df_test=big_df[10683:]

In [42]:
df_train.head()

,Airline,Source,Destination,Additional_Info,Price,Date,Month,Year,Stop,Hours,Minutes,Departure_Hours,Departure_Minutes,Route 1,Route 2,Route 3,Route 4,Route 5
0,3,0,5,8,3897.0,24,3,2019,0,1,10,22,20,0,10,27,11,5
1,1,3,0,8,7662.0,1,5,2019,2,13,15,5,50,2,20,1,3,5
2,4,2,1,8,13882.0,9,6,2019,2,4,25,9,25,3,27,4,5,5
3,3,3,0,8,6218.0,12,5,2019,1,23,30,18,5,2,29,3,11,5
4,3,0,5,8,13302.0,1,3,2019,1,21,35,16,50,0,29,7,11,5

In [43]:
df_test.head()

,Airline,Source,Destination,Additional_Info,Price,Date,Month,Year,Stop,Hours,Minutes,Departure_Hours,Departure_Minutes,Route 1,Route 2,Route 3,Route 4,Route 5
0,4,2,1,8,9087.064121,6,6,2019,1,4,25,17,30,3,6,6,11,5
1,3,3,0,8,9087.064121,12,5,2019,1,10,20,6,20,2,28,3,11,5
2,4,2,1,5,9087.064121,21,5,2019,1,19,0,19,15,3,6,6,11,5
3,6,2,1,8,9087.064121,21,5,2019,1,21,0,8,0,3,6,6,11,5
4,0,0,2,8,9087.064121,24,6,2019,0,2,45,23,55,0,10,27,11,5

In [44]:
### Splitting data into Independent and Dependent variable.
X=df_train.drop(['Price'],axis=1)
y=df_train.Price

In [45]:
### Splitting data into training and testing data.
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(X,y,test_size=0.3,random_state=0)

In [46]:
model=SelectFromModel(Lasso(alpha=0.005,random_state=0))

In [47]:
model.fit(x_train,y_train)

SelectFromModel(estimator=Lasso(alpha=0.005, random_state=0))

In [48]:
model.get_support()

array([ True,  True,  True,  True,  True,  True, False,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True])

In [49]:
selected_features=x_train.columns[(model.get_support())]
selected_features

Index(['Airline', 'Source', 'Destination', 'Additional_Info', 'Date', 'Month',
       'Stop', 'Hours', 'Minutes', 'Departure_Hours', 'Departure_Minutes',
       'Route 1', 'Route 2', 'Route 3', 'Route 4', 'Route 5'],
      dtype='object')

In [50]:
x_train=x_train.drop(['Year'],axis=1)
x_train.head()

,Airline,Source,Destination,Additional_Info,Date,Month,Stop,Hours,Minutes,Departure_Hours,Departure_Minutes,Route 1,Route 2,Route 3,Route 4,Route 5
7106,8,0,2,8,6,4,0,8,35,5,55,0,10,27,11,5
7904,1,2,1,8,1,6,1,6,50,5,15,3,35,6,11,5
4861,4,2,1,5,12,6,2,12,35,14,35,3,29,4,5,5
9375,3,2,1,8,15,6,1,21,0,6,40,3,6,6,11,5
155,1,3,0,8,9,5,2,7,55,8,20,2,23,4,3,5

In [51]:
x_test=x_test.drop(['Year'],axis=1)
x_test.head()

,Airline,Source,Destination,Additional_Info,Date,Month,Stop,Hours,Minutes,Departure_Hours,Departure_Minutes,Route 1,Route 2,Route 3,Route 4,Route 5
9693,3,2,1,8,27,3,1,16,10,4,55,3,15,6,11,5
9825,8,3,0,8,27,5,0,0,40,22,20,2,5,27,11,5
7702,1,3,0,8,6,6,2,20,25,5,50,2,20,7,3,5
1437,4,0,5,8,6,3,1,14,25,9,45,0,28,7,11,5
6828,3,2,1,8,15,6,1,1,30,16,0,3,6,6,11,5

### RandomForestRegressor.

In [52]:
from sklearn.model_selection import RandomizedSearchCV

## number of trees in random forest.
n_estimators=[int(x) for x in np.linspace(start=100,stop=1000,num=12)]
## number of feature in evey split.
max_features=['auto','sqrt']
## maximum number of level in trees.
max_depth=[int(x) for x in np.linspace(5,30,num=6)]
## minimum sample split.
min_samples_split=[2,5,10,15,100]
## min number of sample leaf node.
min_samples_leaf=[1,2,5,10]

In [53]:
## creating random grid.
random_grid={'n_estimators':n_estimators,
             'max_features':max_features,
             'max_depth':max_depth,
             'min_samples_split':min_samples_split,
             'min_samples_leaf':min_samples_leaf}
print(random_grid)

{'n_estimators': [100, 181, 263, 345, 427, 509, 590, 672, 754, 836, 918, 1000], 'max_features': ['auto', 'sqrt'], 'max_depth': [5, 10, 15, 20, 25, 30], 'min_samples_split': [2, 5, 10, 15, 100], 'min_samples_leaf': [1, 2, 5, 10]}

In [54]:
## creating RandomForestRegressor.
from sklearn.ensemble import RandomForestRegressor
rf=RandomForestRegressor()

In [55]:
rf_random=RandomizedSearchCV(estimator=rf,param_distributions=random_grid,scoring='neg_mean_squared_error',n_iter=50,cv=5,verbose=2,random_state=0)

In [56]:
rf_random.fit(x_train,y_train)

Fitting 5 folds for each of 50 candidates, totalling 250 fits
[CV] n_estimators=509, min_samples_split=10, min_samples_leaf=2, max_features=auto, max_depth=10

[Parallel(n_jobs=1)]: Using backend SequentialBackend with 1 concurrent workers.

[CV]  n_estimators=509, min_samples_split=10, min_samples_leaf=2, max_features=auto, max_depth=10, total=   6.0s
[CV] n_estimators=509, min_samples_split=10, min_samples_leaf=2, max_features=auto, max_depth=10

[Parallel(n_jobs=1)]: Done   1 out of   1 | elapsed:    5.9s remaining:    0.0s

[CV]  n_estimators=509, min_samples_split=10, min_samples_leaf=2, max_features=auto, max_depth=10, total=   5.6s
[CV] n_estimators=509, min_samples_split=10, min_samples_leaf=2, max_features=auto, max_depth=10
[CV]  n_estimators=509, min_samples_split=10, min_samples_leaf=2, max_features=auto, max_depth=10, total=   5.7s
[CV] n_estimators=509, min_samples_split=10, min_samples_leaf=2, max_features=auto, max_depth=10
[CV]  n_estimators=509, min_samples_split=10, min_samples_leaf=2, max_features=auto, max_depth=10, total=   5.9s
[CV] n_estimators=509, min_samples_split=10, min_samples_leaf=2, max_features=auto, max_depth=10
[CV]  n_estimators=509, min_samples_split=10, min_samples_leaf=2, max_features=auto, max_depth=10, total=   5.7s
[CV] n_estimators=427, min_samples_split=10, min_samples_leaf=2, max_features=sqrt, max_depth=20
[CV]  n_estimators=427, min_samples_split=10, min_samples_leaf=2, max_features=sqrt, max_depth=20, total=   2.5s
[CV] n_estimators=427, min_samples_split=10, min_samples_leaf=2, max_features=sqrt, max_depth=20
[CV]  n_estimators=427, min_samples_split=10, min_samples_leaf=2, max_features=sqrt, max_depth=20, total=   2.7s
[CV] n_estimators=427, min_samples_split=10, min_samples_leaf=2, max_features=sqrt, max_depth=20
[CV]  n_estimators=427, min_samples_split=10, min_samples_leaf=2, max_features=sqrt, max_depth=20, total=   2.5s
[CV] n_estimators=427, min_samples_split=10, min_samples_leaf=2, max_features=sqrt, max_depth=20
[CV]  n_estimators=427, min_samples_split=10, min_samples_leaf=2, max_features=sqrt, max_depth=20, total=   2.4s
[CV] n_estimators=427, min_samples_split=10, min_samples_leaf=2, max_features=sqrt, max_depth=20
[CV]  n_estimators=427, min_samples_split=10, min_samples_leaf=2, max_features=sqrt, max_depth=20, total=   2.4s
[CV] n_estimators=1000, min_samples_split=5, min_samples_leaf=5, max_features=auto, max_depth=30
[CV]  n_estimators=1000, min_samples_split=5, min_samples_leaf=5, max_features=auto, max_depth=30, total=  12.3s
[CV] n_estimators=1000, min_samples_split=5, min_samples_leaf=5, max_features=auto, max_depth=30
[CV]  n_estimators=1000, min_samples_split=5, min_samples_leaf=5, max_features=auto, max_depth=30, total=  12.6s
[CV] n_estimators=1000, min_samples_split=5, min_samples_leaf=5, max_features=auto, max_depth=30
[CV]  n_estimators=1000, min_samples_split=5, min_samples_leaf=5, max_features=auto, max_depth=30, total=  12.7s
[CV] n_estimators=1000, min_samples_split=5, min_samples_leaf=5, max_features=auto, max_depth=30
[CV]  n_estimators=1000, min_samples_split=5, min_samples_leaf=5, max_features=auto, max_depth=30, total=  13.0s
[CV] n_estimators=1000, min_samples_split=5, min_samples_leaf=5, max_features=auto, max_depth=30
[CV]  n_estimators=1000, min_samples_split=5, min_samples_leaf=5, max_features=auto, max_depth=30, total=  13.3s
[CV] n_estimators=754, min_samples_split=2, min_samples_leaf=5, max_features=sqrt, max_depth=30
[CV]  n_estimators=754, min_samples_split=2, min_samples_leaf=5, max_features=sqrt, max_depth=30, total=   4.3s
[CV] n_estimators=754, min_samples_split=2, min_samples_leaf=5, max_features=sqrt, max_depth=30
[CV]  n_estimators=754, min_samples_split=2, min_samples_leaf=5, max_features=sqrt, max_depth=30, total=   4.3s
[CV] n_estimators=754, min_samples_split=2, min_samples_leaf=5, max_features=sqrt, max_depth=30
[CV]  n_estimators=754, min_samples_split=2, min_samples_leaf=5, max_features=sqrt, max_depth=30, total=   4.3s
[CV] n_estimators=754, min_samples_split=2, min_samples_leaf=5, max_features=sqrt, max_depth=30
[CV]  n_estimators=754, min_samples_split=2, min_samples_leaf=5, max_features=sqrt, max_depth=30, total=   4.3s
[CV] n_estimators=754, min_samples_split=2, min_samples_leaf=5, max_features=sqrt, max_depth=30
[CV]  n_estimators=754, min_samples_split=2, min_samples_leaf=5, max_features=sqrt, max_depth=30, total=   4.4s
[CV] n_estimators=263, min_samples_split=2, min_samples_leaf=5, max_features=sqrt, max_depth=20
[CV]  n_estimators=263, min_samples_split=2, min_samples_leaf=5, max_features=sqrt, max_depth=20, total=   1.4s
[CV] n_estimators=263, min_samples_split=2, min_samples_leaf=5, max_features=sqrt, max_depth=20
[CV]  n_estimators=263, min_samples_split=2, min_samples_leaf=5, max_features=sqrt, max_depth=20, total=   1.5s
[CV] n_estimators=263, min_samples_split=2, min_samples_leaf=5, max_features=sqrt, max_depth=20
[CV]  n_estimators=263, min_samples_split=2, min_samples_leaf=5, max_features=sqrt, max_depth=20, total=   1.5s
[CV] n_estimators=263, min_samples_split=2, min_samples_leaf=5, max_features=sqrt, max_depth=20
[CV]  n_estimators=263, min_samples_split=2, min_samples_leaf=5, max_features=sqrt, max_depth=20, total=   1.5s
[CV] n_estimators=263, min_samples_split=2, min_samples_leaf=5, max_features=sqrt, max_depth=20
[CV]  n_estimators=263, min_samples_split=2, min_samples_leaf=5, max_features=sqrt, max_depth=20, total=   1.5s
[CV] n_estimators=918, min_samples_split=5, min_samples_leaf=1, max_features=auto, max_depth=25
[CV]  n_estimators=918, min_samples_split=5, min_samples_leaf=1, max_features=auto, max_depth=25, total=  15.9s
[CV] n_estimators=918, min_samples_split=5, min_samples_leaf=1, max_features=auto, max_depth=25
[CV]  n_estimators=918, min_samples_split=5, min_samples_leaf=1, max_features=auto, max_depth=25, total=  14.9s
[CV] n_estimators=918, min_samples_split=5, min_samples_leaf=1, max_features=auto, max_depth=25
[CV]  n_estimators=918, min_samples_split=5, min_samples_leaf=1, max_features=auto, max_depth=25, total=  14.0s
[CV] n_estimators=918, min_samples_split=5, min_samples_leaf=1, max_features=auto, max_depth=25
[CV]  n_estimators=918, min_samples_split=5, min_samples_leaf=1, max_features=auto, max_depth=25, total=  14.0s
[CV] n_estimators=918, min_samples_split=5, min_samples_leaf=1, max_features=auto, max_depth=25
[CV]  n_estimators=918, min_samples_split=5, min_samples_leaf=1, max_features=auto, max_depth=25, total=  14.4s
[CV] n_estimators=181, min_samples_split=100, min_samples_leaf=5, max_features=auto, max_depth=15
[CV]  n_estimators=181, min_samples_split=100, min_samples_leaf=5, max_features=auto, max_depth=15, total=   1.7s
[CV] n_estimators=181, min_samples_split=100, min_samples_leaf=5, max_features=auto, max_depth=15
[CV]  n_estimators=181, min_samples_split=100, min_samples_leaf=5, max_features=auto, max_depth=15, total=   1.8s
[CV] n_estimators=181, min_samples_split=100, min_samples_leaf=5, max_features=auto, max_depth=15
[CV]  n_estimators=181, min_samples_split=100, min_samples_leaf=5, max_features=auto, max_depth=15, total=   2.0s
[CV] n_estimators=181, min_samples_split=100, min_samples_leaf=5, max_features=auto, max_depth=15
[CV]  n_estimators=181, min_samples_split=100, min_samples_leaf=5, max_features=auto, max_depth=15, total=   1.8s
[CV] n_estimators=181, min_samples_split=100, min_samples_leaf=5, max_features=auto, max_depth=15
[CV]  n_estimators=181, min_samples_split=100, min_samples_leaf=5, max_features=auto, max_depth=15, total=   1.7s
[CV] n_estimators=672, min_samples_split=5, min_samples_leaf=5, max_features=auto, max_depth=10
[CV]  n_estimators=672, min_samples_split=5, min_samples_leaf=5, max_features=auto, max_depth=10, total=   7.5s
[CV] n_estimators=672, min_samples_split=5, min_samples_leaf=5, max_features=auto, max_depth=10
[CV]  n_estimators=672, min_samples_split=5, min_samples_leaf=5, max_features=auto, max_depth=10, total=   7.4s
[CV] n_estimators=672, min_samples_split=5, min_samples_leaf=5, max_features=auto, max_depth=10
[CV]  n_estimators=672, min_samples_split=5, min_samples_leaf=5, max_features=auto, max_depth=10, total=   7.3s
[CV] n_estimators=672, min_samples_split=5, min_samples_leaf=5, max_features=auto, max_depth=10
[CV]  n_estimators=672, min_samples_split=5, min_samples_leaf=5, max_features=auto, max_depth=10, total=   7.5s
[CV] n_estimators=672, min_samples_split=5, min_samples_leaf=5, max_features=auto, max_depth=10
[CV]  n_estimators=672, min_samples_split=5, min_samples_leaf=5, max_features=auto, max_depth=10, total=   7.3s
[CV] n_estimators=345, min_samples_split=2, min_samples_leaf=5, max_features=auto, max_depth=25

[CV]  n_estimators=345, min_samples_split=2, min_samples_leaf=5, max_features=auto, max_depth=25, total=   4.4s
[CV] n_estimators=345, min_samples_split=2, min_samples_leaf=5, max_features=auto, max_depth=25
[CV]  n_estimators=345, min_samples_split=2, min_samples_leaf=5, max_features=auto, max_depth=25, total=   4.4s
[CV] n_estimators=345, min_samples_split=2, min_samples_leaf=5, max_features=auto, max_depth=25
[CV]  n_estimators=345, min_samples_split=2, min_samples_leaf=5, max_features=auto, max_depth=25, total=   4.3s
[CV] n_estimators=345, min_samples_split=2, min_samples_leaf=5, max_features=auto, max_depth=25
[CV]  n_estimators=345, min_samples_split=2, min_samples_leaf=5, max_features=auto, max_depth=25, total=   4.4s
[CV] n_estimators=345, min_samples_split=2, min_samples_leaf=5, max_features=auto, max_depth=25
[CV]  n_estimators=345, min_samples_split=2, min_samples_leaf=5, max_features=auto, max_depth=25, total=   4.3s
[CV] n_estimators=754, min_samples_split=10, min_samples_leaf=10, max_features=auto, max_depth=10
[CV]  n_estimators=754, min_samples_split=10, min_samples_leaf=10, max_features=auto, max_depth=10, total=   7.7s
[CV] n_estimators=754, min_samples_split=10, min_samples_leaf=10, max_features=auto, max_depth=10
[CV]  n_estimators=754, min_samples_split=10, min_samples_leaf=10, max_features=auto, max_depth=10, total=   7.7s
[CV] n_estimators=754, min_samples_split=10, min_samples_leaf=10, max_features=auto, max_depth=10
[CV]  n_estimators=754, min_samples_split=10, min_samples_leaf=10, max_features=auto, max_depth=10, total=   8.0s
[CV] n_estimators=754, min_samples_split=10, min_samples_leaf=10, max_features=auto, max_depth=10
[CV]  n_estimators=754, min_samples_split=10, min_samples_leaf=10, max_features=auto, max_depth=10, total=   7.6s
[CV] n_estimators=754, min_samples_split=10, min_samples_leaf=10, max_features=auto, max_depth=10
[CV]  n_estimators=754, min_samples_split=10, min_samples_leaf=10, max_features=auto, max_depth=10, total=   7.7s
[CV] n_estimators=918, min_samples_split=10, min_samples_leaf=10, max_features=sqrt, max_depth=30
[CV]  n_estimators=918, min_samples_split=10, min_samples_leaf=10, max_features=sqrt, max_depth=30, total=   4.7s
[CV] n_estimators=918, min_samples_split=10, min_samples_leaf=10, max_features=sqrt, max_depth=30
[CV]  n_estimators=918, min_samples_split=10, min_samples_leaf=10, max_features=sqrt, max_depth=30, total=   4.5s
[CV] n_estimators=918, min_samples_split=10, min_samples_leaf=10, max_features=sqrt, max_depth=30
[CV]  n_estimators=918, min_samples_split=10, min_samples_leaf=10, max_features=sqrt, max_depth=30, total=   4.4s
[CV] n_estimators=918, min_samples_split=10, min_samples_leaf=10, max_features=sqrt, max_depth=30
[CV]  n_estimators=918, min_samples_split=10, min_samples_leaf=10, max_features=sqrt, max_depth=30, total=   4.4s
[CV] n_estimators=918, min_samples_split=10, min_samples_leaf=10, max_features=sqrt, max_depth=30
[CV]  n_estimators=918, min_samples_split=10, min_samples_leaf=10, max_features=sqrt, max_depth=30, total=   4.4s
[CV] n_estimators=1000, min_samples_split=100, min_samples_leaf=5, max_features=auto, max_depth=15
[CV]  n_estimators=1000, min_samples_split=100, min_samples_leaf=5, max_features=auto, max_depth=15, total=  10.5s
[CV] n_estimators=1000, min_samples_split=100, min_samples_leaf=5, max_features=auto, max_depth=15
[CV]  n_estimators=1000, min_samples_split=100, min_samples_leaf=5, max_features=auto, max_depth=15, total=  11.8s
[CV] n_estimators=1000, min_samples_split=100, min_samples_leaf=5, max_features=auto, max_depth=15
[CV]  n_estimators=1000, min_samples_split=100, min_samples_leaf=5, max_features=auto, max_depth=15, total=  10.1s
[CV] n_estimators=1000, min_samples_split=100, min_samples_leaf=5, max_features=auto, max_depth=15
[CV]  n_estimators=1000, min_samples_split=100, min_samples_leaf=5, max_features=auto, max_depth=15, total=   9.4s
[CV] n_estimators=1000, min_samples_split=100, min_samples_leaf=5, max_features=auto, max_depth=15
[CV]  n_estimators=1000, min_samples_split=100, min_samples_leaf=5, max_features=auto, max_depth=15, total=   9.4s
[CV] n_estimators=918, min_samples_split=100, min_samples_leaf=2, max_features=auto, max_depth=5
[CV]  n_estimators=918, min_samples_split=100, min_samples_leaf=2, max_features=auto, max_depth=5, total=   6.4s
[CV] n_estimators=918, min_samples_split=100, min_samples_leaf=2, max_features=auto, max_depth=5
[CV]  n_estimators=918, min_samples_split=100, min_samples_leaf=2, max_features=auto, max_depth=5, total=   6.5s
[CV] n_estimators=918, min_samples_split=100, min_samples_leaf=2, max_features=auto, max_depth=5
[CV]  n_estimators=918, min_samples_split=100, min_samples_leaf=2, max_features=auto, max_depth=5, total=   6.7s
[CV] n_estimators=918, min_samples_split=100, min_samples_leaf=2, max_features=auto, max_depth=5
[CV]  n_estimators=918, min_samples_split=100, min_samples_leaf=2, max_features=auto, max_depth=5, total=   6.3s
[CV] n_estimators=918, min_samples_split=100, min_samples_leaf=2, max_features=auto, max_depth=5
[CV]  n_estimators=918, min_samples_split=100, min_samples_leaf=2, max_features=auto, max_depth=5, total=   6.3s
[CV] n_estimators=590, min_samples_split=100, min_samples_leaf=10, max_features=auto, max_depth=30
[CV]  n_estimators=590, min_samples_split=100, min_samples_leaf=10, max_features=auto, max_depth=30, total=   5.0s
[CV] n_estimators=590, min_samples_split=100, min_samples_leaf=10, max_features=auto, max_depth=30
[CV]  n_estimators=590, min_samples_split=100, min_samples_leaf=10, max_features=auto, max_depth=30, total=   5.5s
[CV] n_estimators=590, min_samples_split=100, min_samples_leaf=10, max_features=auto, max_depth=30
[CV]  n_estimators=590, min_samples_split=100, min_samples_leaf=10, max_features=auto, max_depth=30, total=   5.5s
[CV] n_estimators=590, min_samples_split=100, min_samples_leaf=10, max_features=auto, max_depth=30
[CV]  n_estimators=590, min_samples_split=100, min_samples_leaf=10, max_features=auto, max_depth=30, total=   5.1s
[CV] n_estimators=590, min_samples_split=100, min_samples_leaf=10, max_features=auto, max_depth=30
[CV]  n_estimators=590, min_samples_split=100, min_samples_leaf=10, max_features=auto, max_depth=30, total=   5.6s
[CV] n_estimators=754, min_samples_split=15, min_samples_leaf=2, max_features=auto, max_depth=5
[CV]  n_estimators=754, min_samples_split=15, min_samples_leaf=2, max_features=auto, max_depth=5, total=   5.3s
[CV] n_estimators=754, min_samples_split=15, min_samples_leaf=2, max_features=auto, max_depth=5
[CV]  n_estimators=754, min_samples_split=15, min_samples_leaf=2, max_features=auto, max_depth=5, total=   5.4s
[CV] n_estimators=754, min_samples_split=15, min_samples_leaf=2, max_features=auto, max_depth=5
[CV]  n_estimators=754, min_samples_split=15, min_samples_leaf=2, max_features=auto, max_depth=5, total=   5.8s
[CV] n_estimators=754, min_samples_split=15, min_samples_leaf=2, max_features=auto, max_depth=5
[CV]  n_estimators=754, min_samples_split=15, min_samples_leaf=2, max_features=auto, max_depth=5, total=   5.7s
[CV] n_estimators=754, min_samples_split=15, min_samples_leaf=2, max_features=auto, max_depth=5
[CV]  n_estimators=754, min_samples_split=15, min_samples_leaf=2, max_features=auto, max_depth=5, total=   5.1s
[CV] n_estimators=754, min_samples_split=15, min_samples_leaf=10, max_features=auto, max_depth=10
[CV]  n_estimators=754, min_samples_split=15, min_samples_leaf=10, max_features=auto, max_depth=10, total=   7.6s
[CV] n_estimators=754, min_samples_split=15, min_samples_leaf=10, max_features=auto, max_depth=10
[CV]  n_estimators=754, min_samples_split=15, min_samples_leaf=10, max_features=auto, max_depth=10, total=   9.8s
[CV] n_estimators=754, min_samples_split=15, min_samples_leaf=10, max_features=auto, max_depth=10
[CV]  n_estimators=754, min_samples_split=15, min_samples_leaf=10, max_features=auto, max_depth=10, total=  10.4s
[CV] n_estimators=754, min_samples_split=15, min_samples_leaf=10, max_features=auto, max_depth=10
[CV]  n_estimators=754, min_samples_split=15, min_samples_leaf=10, max_features=auto, max_depth=10, total=  10.4s
[CV] n_estimators=754, min_samples_split=15, min_samples_leaf=10, max_features=auto, max_depth=10

[CV]  n_estimators=754, min_samples_split=15, min_samples_leaf=10, max_features=auto, max_depth=10, total=   8.5s
[CV] n_estimators=100, min_samples_split=15, min_samples_leaf=1, max_features=sqrt, max_depth=5
[CV]  n_estimators=100, min_samples_split=15, min_samples_leaf=1, max_features=sqrt, max_depth=5, total=   0.4s
[CV] n_estimators=100, min_samples_split=15, min_samples_leaf=1, max_features=sqrt, max_depth=5
[CV]  n_estimators=100, min_samples_split=15, min_samples_leaf=1, max_features=sqrt, max_depth=5, total=   0.4s
[CV] n_estimators=100, min_samples_split=15, min_samples_leaf=1, max_features=sqrt, max_depth=5
[CV]  n_estimators=100, min_samples_split=15, min_samples_leaf=1, max_features=sqrt, max_depth=5, total=   0.3s
[CV] n_estimators=100, min_samples_split=15, min_samples_leaf=1, max_features=sqrt, max_depth=5
[CV]  n_estimators=100, min_samples_split=15, min_samples_leaf=1, max_features=sqrt, max_depth=5, total=   0.4s
[CV] n_estimators=100, min_samples_split=15, min_samples_leaf=1, max_features=sqrt, max_depth=5
[CV]  n_estimators=100, min_samples_split=15, min_samples_leaf=1, max_features=sqrt, max_depth=5, total=   0.4s
[CV] n_estimators=590, min_samples_split=5, min_samples_leaf=10, max_features=sqrt, max_depth=10
[CV]  n_estimators=590, min_samples_split=5, min_samples_leaf=10, max_features=sqrt, max_depth=10, total=   2.6s
[CV] n_estimators=590, min_samples_split=5, min_samples_leaf=10, max_features=sqrt, max_depth=10
[CV]  n_estimators=590, min_samples_split=5, min_samples_leaf=10, max_features=sqrt, max_depth=10, total=   2.7s
[CV] n_estimators=590, min_samples_split=5, min_samples_leaf=10, max_features=sqrt, max_depth=10
[CV]  n_estimators=590, min_samples_split=5, min_samples_leaf=10, max_features=sqrt, max_depth=10, total=   2.6s
[CV] n_estimators=590, min_samples_split=5, min_samples_leaf=10, max_features=sqrt, max_depth=10
[CV]  n_estimators=590, min_samples_split=5, min_samples_leaf=10, max_features=sqrt, max_depth=10, total=   2.7s
[CV] n_estimators=590, min_samples_split=5, min_samples_leaf=10, max_features=sqrt, max_depth=10
[CV]  n_estimators=590, min_samples_split=5, min_samples_leaf=10, max_features=sqrt, max_depth=10, total=   2.8s
[CV] n_estimators=672, min_samples_split=2, min_samples_leaf=2, max_features=auto, max_depth=30
[CV]  n_estimators=672, min_samples_split=2, min_samples_leaf=2, max_features=auto, max_depth=30, total=  10.5s
[CV] n_estimators=672, min_samples_split=2, min_samples_leaf=2, max_features=auto, max_depth=30
[CV]  n_estimators=672, min_samples_split=2, min_samples_leaf=2, max_features=auto, max_depth=30, total=  10.9s
[CV] n_estimators=672, min_samples_split=2, min_samples_leaf=2, max_features=auto, max_depth=30
[CV]  n_estimators=672, min_samples_split=2, min_samples_leaf=2, max_features=auto, max_depth=30, total=  13.0s
[CV] n_estimators=672, min_samples_split=2, min_samples_leaf=2, max_features=auto, max_depth=30
[CV]  n_estimators=672, min_samples_split=2, min_samples_leaf=2, max_features=auto, max_depth=30, total=  13.7s
[CV] n_estimators=672, min_samples_split=2, min_samples_leaf=2, max_features=auto, max_depth=30
[CV]  n_estimators=672, min_samples_split=2, min_samples_leaf=2, max_features=auto, max_depth=30, total=  12.1s
[CV] n_estimators=427, min_samples_split=10, min_samples_leaf=5, max_features=sqrt, max_depth=10
[CV]  n_estimators=427, min_samples_split=10, min_samples_leaf=5, max_features=sqrt, max_depth=10, total=   2.2s
[CV] n_estimators=427, min_samples_split=10, min_samples_leaf=5, max_features=sqrt, max_depth=10
[CV]  n_estimators=427, min_samples_split=10, min_samples_leaf=5, max_features=sqrt, max_depth=10, total=   2.5s
[CV] n_estimators=427, min_samples_split=10, min_samples_leaf=5, max_features=sqrt, max_depth=10
[CV]  n_estimators=427, min_samples_split=10, min_samples_leaf=5, max_features=sqrt, max_depth=10, total=   2.0s
[CV] n_estimators=427, min_samples_split=10, min_samples_leaf=5, max_features=sqrt, max_depth=10
[CV]  n_estimators=427, min_samples_split=10, min_samples_leaf=5, max_features=sqrt, max_depth=10, total=   2.1s
[CV] n_estimators=427, min_samples_split=10, min_samples_leaf=5, max_features=sqrt, max_depth=10
[CV]  n_estimators=427, min_samples_split=10, min_samples_leaf=5, max_features=sqrt, max_depth=10, total=   2.0s
[CV] n_estimators=263, min_samples_split=10, min_samples_leaf=2, max_features=sqrt, max_depth=10
[CV]  n_estimators=263, min_samples_split=10, min_samples_leaf=2, max_features=sqrt, max_depth=10, total=   1.3s
[CV] n_estimators=263, min_samples_split=10, min_samples_leaf=2, max_features=sqrt, max_depth=10
[CV]  n_estimators=263, min_samples_split=10, min_samples_leaf=2, max_features=sqrt, max_depth=10, total=   1.4s
[CV] n_estimators=263, min_samples_split=10, min_samples_leaf=2, max_features=sqrt, max_depth=10
[CV]  n_estimators=263, min_samples_split=10, min_samples_leaf=2, max_features=sqrt, max_depth=10, total=   1.4s
[CV] n_estimators=263, min_samples_split=10, min_samples_leaf=2, max_features=sqrt, max_depth=10
[CV]  n_estimators=263, min_samples_split=10, min_samples_leaf=2, max_features=sqrt, max_depth=10, total=   1.3s
[CV] n_estimators=263, min_samples_split=10, min_samples_leaf=2, max_features=sqrt, max_depth=10
[CV]  n_estimators=263, min_samples_split=10, min_samples_leaf=2, max_features=sqrt, max_depth=10, total=   1.3s
[CV] n_estimators=754, min_samples_split=5, min_samples_leaf=2, max_features=sqrt, max_depth=5
[CV]  n_estimators=754, min_samples_split=5, min_samples_leaf=2, max_features=sqrt, max_depth=5, total=   2.6s
[CV] n_estimators=754, min_samples_split=5, min_samples_leaf=2, max_features=sqrt, max_depth=5
[CV]  n_estimators=754, min_samples_split=5, min_samples_leaf=2, max_features=sqrt, max_depth=5, total=   2.4s
[CV] n_estimators=754, min_samples_split=5, min_samples_leaf=2, max_features=sqrt, max_depth=5
[CV]  n_estimators=754, min_samples_split=5, min_samples_leaf=2, max_features=sqrt, max_depth=5, total=   2.4s
[CV] n_estimators=754, min_samples_split=5, min_samples_leaf=2, max_features=sqrt, max_depth=5
[CV]  n_estimators=754, min_samples_split=5, min_samples_leaf=2, max_features=sqrt, max_depth=5, total=   2.6s
[CV] n_estimators=754, min_samples_split=5, min_samples_leaf=2, max_features=sqrt, max_depth=5
[CV]  n_estimators=754, min_samples_split=5, min_samples_leaf=2, max_features=sqrt, max_depth=5, total=   2.5s
[CV] n_estimators=509, min_samples_split=10, min_samples_leaf=1, max_features=sqrt, max_depth=30
[CV]  n_estimators=509, min_samples_split=10, min_samples_leaf=1, max_features=sqrt, max_depth=30, total=   3.0s
[CV] n_estimators=509, min_samples_split=10, min_samples_leaf=1, max_features=sqrt, max_depth=30
[CV]  n_estimators=509, min_samples_split=10, min_samples_leaf=1, max_features=sqrt, max_depth=30, total=   3.2s
[CV] n_estimators=509, min_samples_split=10, min_samples_leaf=1, max_features=sqrt, max_depth=30
[CV]  n_estimators=509, min_samples_split=10, min_samples_leaf=1, max_features=sqrt, max_depth=30, total=   3.6s
[CV] n_estimators=509, min_samples_split=10, min_samples_leaf=1, max_features=sqrt, max_depth=30
[CV]  n_estimators=509, min_samples_split=10, min_samples_leaf=1, max_features=sqrt, max_depth=30, total=   3.4s
[CV] n_estimators=509, min_samples_split=10, min_samples_leaf=1, max_features=sqrt, max_depth=30
[CV]  n_estimators=509, min_samples_split=10, min_samples_leaf=1, max_features=sqrt, max_depth=30, total=   3.1s
[CV] n_estimators=754, min_samples_split=10, min_samples_leaf=2, max_features=sqrt, max_depth=20
[CV]  n_estimators=754, min_samples_split=10, min_samples_leaf=2, max_features=sqrt, max_depth=20, total=   4.4s
[CV] n_estimators=754, min_samples_split=10, min_samples_leaf=2, max_features=sqrt, max_depth=20
[CV]  n_estimators=754, min_samples_split=10, min_samples_leaf=2, max_features=sqrt, max_depth=20, total=   4.3s
[CV] n_estimators=754, min_samples_split=10, min_samples_leaf=2, max_features=sqrt, max_depth=20
[CV]  n_estimators=754, min_samples_split=10, min_samples_leaf=2, max_features=sqrt, max_depth=20, total=   4.2s
[CV] n_estimators=754, min_samples_split=10, min_samples_leaf=2, max_features=sqrt, max_depth=20
[CV]  n_estimators=754, min_samples_split=10, min_samples_leaf=2, max_features=sqrt, max_depth=20, total=   4.2s
[CV] n_estimators=754, min_samples_split=10, min_samples_leaf=2, max_features=sqrt, max_depth=20

[CV]  n_estimators=754, min_samples_split=10, min_samples_leaf=2, max_features=sqrt, max_depth=20, total=   4.6s
[CV] n_estimators=427, min_samples_split=100, min_samples_leaf=10, max_features=sqrt, max_depth=15
[CV]  n_estimators=427, min_samples_split=100, min_samples_leaf=10, max_features=sqrt, max_depth=15, total=   1.8s
[CV] n_estimators=427, min_samples_split=100, min_samples_leaf=10, max_features=sqrt, max_depth=15
[CV]  n_estimators=427, min_samples_split=100, min_samples_leaf=10, max_features=sqrt, max_depth=15, total=   2.0s
[CV] n_estimators=427, min_samples_split=100, min_samples_leaf=10, max_features=sqrt, max_depth=15
[CV]  n_estimators=427, min_samples_split=100, min_samples_leaf=10, max_features=sqrt, max_depth=15, total=   2.1s
[CV] n_estimators=427, min_samples_split=100, min_samples_leaf=10, max_features=sqrt, max_depth=15
[CV]  n_estimators=427, min_samples_split=100, min_samples_leaf=10, max_features=sqrt, max_depth=15, total=   1.9s
[CV] n_estimators=427, min_samples_split=100, min_samples_leaf=10, max_features=sqrt, max_depth=15
[CV]  n_estimators=427, min_samples_split=100, min_samples_leaf=10, max_features=sqrt, max_depth=15, total=   1.9s
[CV] n_estimators=181, min_samples_split=10, min_samples_leaf=5, max_features=sqrt, max_depth=5
[CV]  n_estimators=181, min_samples_split=10, min_samples_leaf=5, max_features=sqrt, max_depth=5, total=   0.9s
[CV] n_estimators=181, min_samples_split=10, min_samples_leaf=5, max_features=sqrt, max_depth=5
[CV]  n_estimators=181, min_samples_split=10, min_samples_leaf=5, max_features=sqrt, max_depth=5, total=   0.8s
[CV] n_estimators=181, min_samples_split=10, min_samples_leaf=5, max_features=sqrt, max_depth=5
[CV]  n_estimators=181, min_samples_split=10, min_samples_leaf=5, max_features=sqrt, max_depth=5, total=   0.6s
[CV] n_estimators=181, min_samples_split=10, min_samples_leaf=5, max_features=sqrt, max_depth=5
[CV]  n_estimators=181, min_samples_split=10, min_samples_leaf=5, max_features=sqrt, max_depth=5, total=   0.7s
[CV] n_estimators=181, min_samples_split=10, min_samples_leaf=5, max_features=sqrt, max_depth=5
[CV]  n_estimators=181, min_samples_split=10, min_samples_leaf=5, max_features=sqrt, max_depth=5, total=   0.6s
[CV] n_estimators=918, min_samples_split=15, min_samples_leaf=5, max_features=auto, max_depth=30
[CV]  n_estimators=918, min_samples_split=15, min_samples_leaf=5, max_features=auto, max_depth=30, total=  13.7s
[CV] n_estimators=918, min_samples_split=15, min_samples_leaf=5, max_features=auto, max_depth=30
[CV]  n_estimators=918, min_samples_split=15, min_samples_leaf=5, max_features=auto, max_depth=30, total=  13.1s
[CV] n_estimators=918, min_samples_split=15, min_samples_leaf=5, max_features=auto, max_depth=30
[CV]  n_estimators=918, min_samples_split=15, min_samples_leaf=5, max_features=auto, max_depth=30, total=  12.7s
[CV] n_estimators=918, min_samples_split=15, min_samples_leaf=5, max_features=auto, max_depth=30
[CV]  n_estimators=918, min_samples_split=15, min_samples_leaf=5, max_features=auto, max_depth=30, total=  11.2s
[CV] n_estimators=918, min_samples_split=15, min_samples_leaf=5, max_features=auto, max_depth=30
[CV]  n_estimators=918, min_samples_split=15, min_samples_leaf=5, max_features=auto, max_depth=30, total=  10.8s
[CV] n_estimators=345, min_samples_split=100, min_samples_leaf=2, max_features=sqrt, max_depth=20
[CV]  n_estimators=345, min_samples_split=100, min_samples_leaf=2, max_features=sqrt, max_depth=20, total=   1.4s
[CV] n_estimators=345, min_samples_split=100, min_samples_leaf=2, max_features=sqrt, max_depth=20
[CV]  n_estimators=345, min_samples_split=100, min_samples_leaf=2, max_features=sqrt, max_depth=20, total=   1.4s
[CV] n_estimators=345, min_samples_split=100, min_samples_leaf=2, max_features=sqrt, max_depth=20
[CV]  n_estimators=345, min_samples_split=100, min_samples_leaf=2, max_features=sqrt, max_depth=20, total=   1.4s
[CV] n_estimators=345, min_samples_split=100, min_samples_leaf=2, max_features=sqrt, max_depth=20
[CV]  n_estimators=345, min_samples_split=100, min_samples_leaf=2, max_features=sqrt, max_depth=20, total=   1.4s
[CV] n_estimators=345, min_samples_split=100, min_samples_leaf=2, max_features=sqrt, max_depth=20
[CV]  n_estimators=345, min_samples_split=100, min_samples_leaf=2, max_features=sqrt, max_depth=20, total=   1.4s
[CV] n_estimators=1000, min_samples_split=10, min_samples_leaf=2, max_features=sqrt, max_depth=25
[CV]  n_estimators=1000, min_samples_split=10, min_samples_leaf=2, max_features=sqrt, max_depth=25, total=   5.8s
[CV] n_estimators=1000, min_samples_split=10, min_samples_leaf=2, max_features=sqrt, max_depth=25
[CV]  n_estimators=1000, min_samples_split=10, min_samples_leaf=2, max_features=sqrt, max_depth=25, total=   5.7s
[CV] n_estimators=1000, min_samples_split=10, min_samples_leaf=2, max_features=sqrt, max_depth=25
[CV]  n_estimators=1000, min_samples_split=10, min_samples_leaf=2, max_features=sqrt, max_depth=25, total=   5.7s
[CV] n_estimators=1000, min_samples_split=10, min_samples_leaf=2, max_features=sqrt, max_depth=25
[CV]  n_estimators=1000, min_samples_split=10, min_samples_leaf=2, max_features=sqrt, max_depth=25, total=   5.7s
[CV] n_estimators=1000, min_samples_split=10, min_samples_leaf=2, max_features=sqrt, max_depth=25
[CV]  n_estimators=1000, min_samples_split=10, min_samples_leaf=2, max_features=sqrt, max_depth=25, total=   5.6s
[CV] n_estimators=590, min_samples_split=100, min_samples_leaf=1, max_features=sqrt, max_depth=30
[CV]  n_estimators=590, min_samples_split=100, min_samples_leaf=1, max_features=sqrt, max_depth=30, total=   2.4s
[CV] n_estimators=590, min_samples_split=100, min_samples_leaf=1, max_features=sqrt, max_depth=30
[CV]  n_estimators=590, min_samples_split=100, min_samples_leaf=1, max_features=sqrt, max_depth=30, total=   3.6s
[CV] n_estimators=590, min_samples_split=100, min_samples_leaf=1, max_features=sqrt, max_depth=30
[CV]  n_estimators=590, min_samples_split=100, min_samples_leaf=1, max_features=sqrt, max_depth=30, total=   2.6s
[CV] n_estimators=590, min_samples_split=100, min_samples_leaf=1, max_features=sqrt, max_depth=30
[CV]  n_estimators=590, min_samples_split=100, min_samples_leaf=1, max_features=sqrt, max_depth=30, total=   2.4s
[CV] n_estimators=590, min_samples_split=100, min_samples_leaf=1, max_features=sqrt, max_depth=30
[CV]  n_estimators=590, min_samples_split=100, min_samples_leaf=1, max_features=sqrt, max_depth=30, total=   2.4s
[CV] n_estimators=836, min_samples_split=5, min_samples_leaf=2, max_features=sqrt, max_depth=30
[CV]  n_estimators=836, min_samples_split=5, min_samples_leaf=2, max_features=sqrt, max_depth=30, total=   5.4s
[CV] n_estimators=836, min_samples_split=5, min_samples_leaf=2, max_features=sqrt, max_depth=30
[CV]  n_estimators=836, min_samples_split=5, min_samples_leaf=2, max_features=sqrt, max_depth=30, total=   5.5s
[CV] n_estimators=836, min_samples_split=5, min_samples_leaf=2, max_features=sqrt, max_depth=30
[CV]  n_estimators=836, min_samples_split=5, min_samples_leaf=2, max_features=sqrt, max_depth=30, total=   5.4s
[CV] n_estimators=836, min_samples_split=5, min_samples_leaf=2, max_features=sqrt, max_depth=30
[CV]  n_estimators=836, min_samples_split=5, min_samples_leaf=2, max_features=sqrt, max_depth=30, total=   5.4s
[CV] n_estimators=836, min_samples_split=5, min_samples_leaf=2, max_features=sqrt, max_depth=30
[CV]  n_estimators=836, min_samples_split=5, min_samples_leaf=2, max_features=sqrt, max_depth=30, total=   5.5s
[CV] n_estimators=1000, min_samples_split=5, min_samples_leaf=1, max_features=sqrt, max_depth=5
[CV]  n_estimators=1000, min_samples_split=5, min_samples_leaf=1, max_features=sqrt, max_depth=5, total=   3.2s
[CV] n_estimators=1000, min_samples_split=5, min_samples_leaf=1, max_features=sqrt, max_depth=5
[CV]  n_estimators=1000, min_samples_split=5, min_samples_leaf=1, max_features=sqrt, max_depth=5, total=   3.2s
[CV] n_estimators=1000, min_samples_split=5, min_samples_leaf=1, max_features=sqrt, max_depth=5
[CV]  n_estimators=1000, min_samples_split=5, min_samples_leaf=1, max_features=sqrt, max_depth=5, total=   3.3s
[CV] n_estimators=1000, min_samples_split=5, min_samples_leaf=1, max_features=sqrt, max_depth=5

[CV]  n_estimators=1000, min_samples_split=5, min_samples_leaf=1, max_features=sqrt, max_depth=5, total=   3.2s
[CV] n_estimators=1000, min_samples_split=5, min_samples_leaf=1, max_features=sqrt, max_depth=5
[CV]  n_estimators=1000, min_samples_split=5, min_samples_leaf=1, max_features=sqrt, max_depth=5, total=   3.2s
[CV] n_estimators=672, min_samples_split=15, min_samples_leaf=2, max_features=sqrt, max_depth=20
[CV]  n_estimators=672, min_samples_split=15, min_samples_leaf=2, max_features=sqrt, max_depth=20, total=   3.5s
[CV] n_estimators=672, min_samples_split=15, min_samples_leaf=2, max_features=sqrt, max_depth=20
[CV]  n_estimators=672, min_samples_split=15, min_samples_leaf=2, max_features=sqrt, max_depth=20, total=   3.6s
[CV] n_estimators=672, min_samples_split=15, min_samples_leaf=2, max_features=sqrt, max_depth=20
[CV]  n_estimators=672, min_samples_split=15, min_samples_leaf=2, max_features=sqrt, max_depth=20, total=   3.5s
[CV] n_estimators=672, min_samples_split=15, min_samples_leaf=2, max_features=sqrt, max_depth=20
[CV]  n_estimators=672, min_samples_split=15, min_samples_leaf=2, max_features=sqrt, max_depth=20, total=   3.5s
[CV] n_estimators=672, min_samples_split=15, min_samples_leaf=2, max_features=sqrt, max_depth=20
[CV]  n_estimators=672, min_samples_split=15, min_samples_leaf=2, max_features=sqrt, max_depth=20, total=   3.5s
[CV] n_estimators=836, min_samples_split=5, min_samples_leaf=1, max_features=auto, max_depth=10
[CV]  n_estimators=836, min_samples_split=5, min_samples_leaf=1, max_features=auto, max_depth=10, total=   9.3s
[CV] n_estimators=836, min_samples_split=5, min_samples_leaf=1, max_features=auto, max_depth=10
[CV]  n_estimators=836, min_samples_split=5, min_samples_leaf=1, max_features=auto, max_depth=10, total=   9.3s
[CV] n_estimators=836, min_samples_split=5, min_samples_leaf=1, max_features=auto, max_depth=10
[CV]  n_estimators=836, min_samples_split=5, min_samples_leaf=1, max_features=auto, max_depth=10, total=   9.5s
[CV] n_estimators=836, min_samples_split=5, min_samples_leaf=1, max_features=auto, max_depth=10
[CV]  n_estimators=836, min_samples_split=5, min_samples_leaf=1, max_features=auto, max_depth=10, total=   9.4s
[CV] n_estimators=836, min_samples_split=5, min_samples_leaf=1, max_features=auto, max_depth=10
[CV]  n_estimators=836, min_samples_split=5, min_samples_leaf=1, max_features=auto, max_depth=10, total=   9.3s
[CV] n_estimators=263, min_samples_split=100, min_samples_leaf=1, max_features=sqrt, max_depth=20
[CV]  n_estimators=263, min_samples_split=100, min_samples_leaf=1, max_features=sqrt, max_depth=20, total=   1.1s
[CV] n_estimators=263, min_samples_split=100, min_samples_leaf=1, max_features=sqrt, max_depth=20
[CV]  n_estimators=263, min_samples_split=100, min_samples_leaf=1, max_features=sqrt, max_depth=20, total=   1.1s
[CV] n_estimators=263, min_samples_split=100, min_samples_leaf=1, max_features=sqrt, max_depth=20
[CV]  n_estimators=263, min_samples_split=100, min_samples_leaf=1, max_features=sqrt, max_depth=20, total=   1.1s
[CV] n_estimators=263, min_samples_split=100, min_samples_leaf=1, max_features=sqrt, max_depth=20
[CV]  n_estimators=263, min_samples_split=100, min_samples_leaf=1, max_features=sqrt, max_depth=20, total=   1.1s
[CV] n_estimators=263, min_samples_split=100, min_samples_leaf=1, max_features=sqrt, max_depth=20
[CV]  n_estimators=263, min_samples_split=100, min_samples_leaf=1, max_features=sqrt, max_depth=20, total=   1.1s
[CV] n_estimators=427, min_samples_split=2, min_samples_leaf=5, max_features=auto, max_depth=15
[CV]  n_estimators=427, min_samples_split=2, min_samples_leaf=5, max_features=auto, max_depth=15, total=   5.2s
[CV] n_estimators=427, min_samples_split=2, min_samples_leaf=5, max_features=auto, max_depth=15
[CV]  n_estimators=427, min_samples_split=2, min_samples_leaf=5, max_features=auto, max_depth=15, total=   5.2s
[CV] n_estimators=427, min_samples_split=2, min_samples_leaf=5, max_features=auto, max_depth=15
[CV]  n_estimators=427, min_samples_split=2, min_samples_leaf=5, max_features=auto, max_depth=15, total=   5.3s
[CV] n_estimators=427, min_samples_split=2, min_samples_leaf=5, max_features=auto, max_depth=15
[CV]  n_estimators=427, min_samples_split=2, min_samples_leaf=5, max_features=auto, max_depth=15, total=   5.3s
[CV] n_estimators=427, min_samples_split=2, min_samples_leaf=5, max_features=auto, max_depth=15
[CV]  n_estimators=427, min_samples_split=2, min_samples_leaf=5, max_features=auto, max_depth=15, total=   5.2s
[CV] n_estimators=100, min_samples_split=2, min_samples_leaf=5, max_features=auto, max_depth=10
[CV]  n_estimators=100, min_samples_split=2, min_samples_leaf=5, max_features=auto, max_depth=10, total=   1.1s
[CV] n_estimators=100, min_samples_split=2, min_samples_leaf=5, max_features=auto, max_depth=10
[CV]  n_estimators=100, min_samples_split=2, min_samples_leaf=5, max_features=auto, max_depth=10, total=   1.1s
[CV] n_estimators=100, min_samples_split=2, min_samples_leaf=5, max_features=auto, max_depth=10
[CV]  n_estimators=100, min_samples_split=2, min_samples_leaf=5, max_features=auto, max_depth=10, total=   1.1s
[CV] n_estimators=100, min_samples_split=2, min_samples_leaf=5, max_features=auto, max_depth=10
[CV]  n_estimators=100, min_samples_split=2, min_samples_leaf=5, max_features=auto, max_depth=10, total=   1.1s
[CV] n_estimators=100, min_samples_split=2, min_samples_leaf=5, max_features=auto, max_depth=10
[CV]  n_estimators=100, min_samples_split=2, min_samples_leaf=5, max_features=auto, max_depth=10, total=   1.1s
[CV] n_estimators=345, min_samples_split=10, min_samples_leaf=2, max_features=sqrt, max_depth=20
[CV]  n_estimators=345, min_samples_split=10, min_samples_leaf=2, max_features=sqrt, max_depth=20, total=   1.9s
[CV] n_estimators=345, min_samples_split=10, min_samples_leaf=2, max_features=sqrt, max_depth=20
[CV]  n_estimators=345, min_samples_split=10, min_samples_leaf=2, max_features=sqrt, max_depth=20, total=   2.0s
[CV] n_estimators=345, min_samples_split=10, min_samples_leaf=2, max_features=sqrt, max_depth=20
[CV]  n_estimators=345, min_samples_split=10, min_samples_leaf=2, max_features=sqrt, max_depth=20, total=   2.0s
[CV] n_estimators=345, min_samples_split=10, min_samples_leaf=2, max_features=sqrt, max_depth=20
[CV]  n_estimators=345, min_samples_split=10, min_samples_leaf=2, max_features=sqrt, max_depth=20, total=   2.0s
[CV] n_estimators=345, min_samples_split=10, min_samples_leaf=2, max_features=sqrt, max_depth=20
[CV]  n_estimators=345, min_samples_split=10, min_samples_leaf=2, max_features=sqrt, max_depth=20, total=   2.0s
[CV] n_estimators=427, min_samples_split=2, min_samples_leaf=2, max_features=sqrt, max_depth=10
[CV]  n_estimators=427, min_samples_split=2, min_samples_leaf=2, max_features=sqrt, max_depth=10, total=   2.1s
[CV] n_estimators=427, min_samples_split=2, min_samples_leaf=2, max_features=sqrt, max_depth=10
[CV]  n_estimators=427, min_samples_split=2, min_samples_leaf=2, max_features=sqrt, max_depth=10, total=   2.1s
[CV] n_estimators=427, min_samples_split=2, min_samples_leaf=2, max_features=sqrt, max_depth=10
[CV]  n_estimators=427, min_samples_split=2, min_samples_leaf=2, max_features=sqrt, max_depth=10, total=   2.1s
[CV] n_estimators=427, min_samples_split=2, min_samples_leaf=2, max_features=sqrt, max_depth=10
[CV]  n_estimators=427, min_samples_split=2, min_samples_leaf=2, max_features=sqrt, max_depth=10, total=   2.1s
[CV] n_estimators=427, min_samples_split=2, min_samples_leaf=2, max_features=sqrt, max_depth=10
[CV]  n_estimators=427, min_samples_split=2, min_samples_leaf=2, max_features=sqrt, max_depth=10, total=   2.1s
[CV] n_estimators=1000, min_samples_split=5, min_samples_leaf=1, max_features=auto, max_depth=25
[CV]  n_estimators=1000, min_samples_split=5, min_samples_leaf=1, max_features=auto, max_depth=25, total=  15.1s
[CV] n_estimators=1000, min_samples_split=5, min_samples_leaf=1, max_features=auto, max_depth=25
[CV]  n_estimators=1000, min_samples_split=5, min_samples_leaf=1, max_features=auto, max_depth=25, total=  16.0s
[CV] n_estimators=1000, min_samples_split=5, min_samples_leaf=1, max_features=auto, max_depth=25

[CV]  n_estimators=1000, min_samples_split=5, min_samples_leaf=1, max_features=auto, max_depth=25, total=  15.0s
[CV] n_estimators=1000, min_samples_split=5, min_samples_leaf=1, max_features=auto, max_depth=25
[CV]  n_estimators=1000, min_samples_split=5, min_samples_leaf=1, max_features=auto, max_depth=25, total=  15.0s
[CV] n_estimators=1000, min_samples_split=5, min_samples_leaf=1, max_features=auto, max_depth=25
[CV]  n_estimators=1000, min_samples_split=5, min_samples_leaf=1, max_features=auto, max_depth=25, total=  14.9s
[CV] n_estimators=345, min_samples_split=5, min_samples_leaf=5, max_features=sqrt, max_depth=25
[CV]  n_estimators=345, min_samples_split=5, min_samples_leaf=5, max_features=sqrt, max_depth=25, total=   1.9s
[CV] n_estimators=345, min_samples_split=5, min_samples_leaf=5, max_features=sqrt, max_depth=25
[CV]  n_estimators=345, min_samples_split=5, min_samples_leaf=5, max_features=sqrt, max_depth=25, total=   1.8s
[CV] n_estimators=345, min_samples_split=5, min_samples_leaf=5, max_features=sqrt, max_depth=25
[CV]  n_estimators=345, min_samples_split=5, min_samples_leaf=5, max_features=sqrt, max_depth=25, total=   1.9s
[CV] n_estimators=345, min_samples_split=5, min_samples_leaf=5, max_features=sqrt, max_depth=25
[CV]  n_estimators=345, min_samples_split=5, min_samples_leaf=5, max_features=sqrt, max_depth=25, total=   1.8s
[CV] n_estimators=345, min_samples_split=5, min_samples_leaf=5, max_features=sqrt, max_depth=25
[CV]  n_estimators=345, min_samples_split=5, min_samples_leaf=5, max_features=sqrt, max_depth=25, total=   1.8s
[CV] n_estimators=100, min_samples_split=5, min_samples_leaf=10, max_features=sqrt, max_depth=10
[CV]  n_estimators=100, min_samples_split=5, min_samples_leaf=10, max_features=sqrt, max_depth=10, total=   0.5s
[CV] n_estimators=100, min_samples_split=5, min_samples_leaf=10, max_features=sqrt, max_depth=10
[CV]  n_estimators=100, min_samples_split=5, min_samples_leaf=10, max_features=sqrt, max_depth=10, total=   0.4s
[CV] n_estimators=100, min_samples_split=5, min_samples_leaf=10, max_features=sqrt, max_depth=10
[CV]  n_estimators=100, min_samples_split=5, min_samples_leaf=10, max_features=sqrt, max_depth=10, total=   0.4s
[CV] n_estimators=100, min_samples_split=5, min_samples_leaf=10, max_features=sqrt, max_depth=10
[CV]  n_estimators=100, min_samples_split=5, min_samples_leaf=10, max_features=sqrt, max_depth=10, total=   0.5s
[CV] n_estimators=100, min_samples_split=5, min_samples_leaf=10, max_features=sqrt, max_depth=10
[CV]  n_estimators=100, min_samples_split=5, min_samples_leaf=10, max_features=sqrt, max_depth=10, total=   0.4s
[CV] n_estimators=672, min_samples_split=100, min_samples_leaf=1, max_features=sqrt, max_depth=5
[CV]  n_estimators=672, min_samples_split=100, min_samples_leaf=1, max_features=sqrt, max_depth=5, total=   2.1s
[CV] n_estimators=672, min_samples_split=100, min_samples_leaf=1, max_features=sqrt, max_depth=5
[CV]  n_estimators=672, min_samples_split=100, min_samples_leaf=1, max_features=sqrt, max_depth=5, total=   2.2s
[CV] n_estimators=672, min_samples_split=100, min_samples_leaf=1, max_features=sqrt, max_depth=5
[CV]  n_estimators=672, min_samples_split=100, min_samples_leaf=1, max_features=sqrt, max_depth=5, total=   2.1s
[CV] n_estimators=672, min_samples_split=100, min_samples_leaf=1, max_features=sqrt, max_depth=5
[CV]  n_estimators=672, min_samples_split=100, min_samples_leaf=1, max_features=sqrt, max_depth=5, total=   2.2s
[CV] n_estimators=672, min_samples_split=100, min_samples_leaf=1, max_features=sqrt, max_depth=5
[CV]  n_estimators=672, min_samples_split=100, min_samples_leaf=1, max_features=sqrt, max_depth=5, total=   2.3s
[CV] n_estimators=509, min_samples_split=10, min_samples_leaf=2, max_features=sqrt, max_depth=30
[CV]  n_estimators=509, min_samples_split=10, min_samples_leaf=2, max_features=sqrt, max_depth=30, total=   2.9s
[CV] n_estimators=509, min_samples_split=10, min_samples_leaf=2, max_features=sqrt, max_depth=30
[CV]  n_estimators=509, min_samples_split=10, min_samples_leaf=2, max_features=sqrt, max_depth=30, total=   2.9s
[CV] n_estimators=509, min_samples_split=10, min_samples_leaf=2, max_features=sqrt, max_depth=30
[CV]  n_estimators=509, min_samples_split=10, min_samples_leaf=2, max_features=sqrt, max_depth=30, total=   2.9s
[CV] n_estimators=509, min_samples_split=10, min_samples_leaf=2, max_features=sqrt, max_depth=30
[CV]  n_estimators=509, min_samples_split=10, min_samples_leaf=2, max_features=sqrt, max_depth=30, total=   2.9s
[CV] n_estimators=509, min_samples_split=10, min_samples_leaf=2, max_features=sqrt, max_depth=30
[CV]  n_estimators=509, min_samples_split=10, min_samples_leaf=2, max_features=sqrt, max_depth=30, total=   2.9s
[CV] n_estimators=836, min_samples_split=10, min_samples_leaf=1, max_features=auto, max_depth=5
[CV]  n_estimators=836, min_samples_split=10, min_samples_leaf=1, max_features=auto, max_depth=5, total=   5.5s
[CV] n_estimators=836, min_samples_split=10, min_samples_leaf=1, max_features=auto, max_depth=5
[CV]  n_estimators=836, min_samples_split=10, min_samples_leaf=1, max_features=auto, max_depth=5, total=   5.6s
[CV] n_estimators=836, min_samples_split=10, min_samples_leaf=1, max_features=auto, max_depth=5
[CV]  n_estimators=836, min_samples_split=10, min_samples_leaf=1, max_features=auto, max_depth=5, total=   5.6s
[CV] n_estimators=836, min_samples_split=10, min_samples_leaf=1, max_features=auto, max_depth=5
[CV]  n_estimators=836, min_samples_split=10, min_samples_leaf=1, max_features=auto, max_depth=5, total=   5.6s
[CV] n_estimators=836, min_samples_split=10, min_samples_leaf=1, max_features=auto, max_depth=5
[CV]  n_estimators=836, min_samples_split=10, min_samples_leaf=1, max_features=auto, max_depth=5, total=   5.6s
[CV] n_estimators=590, min_samples_split=100, min_samples_leaf=1, max_features=auto, max_depth=25
[CV]  n_estimators=590, min_samples_split=100, min_samples_leaf=1, max_features=auto, max_depth=25, total=   5.4s
[CV] n_estimators=590, min_samples_split=100, min_samples_leaf=1, max_features=auto, max_depth=25
[CV]  n_estimators=590, min_samples_split=100, min_samples_leaf=1, max_features=auto, max_depth=25, total=   5.5s
[CV] n_estimators=590, min_samples_split=100, min_samples_leaf=1, max_features=auto, max_depth=25
[CV]  n_estimators=590, min_samples_split=100, min_samples_leaf=1, max_features=auto, max_depth=25, total=   5.5s
[CV] n_estimators=590, min_samples_split=100, min_samples_leaf=1, max_features=auto, max_depth=25
[CV]  n_estimators=590, min_samples_split=100, min_samples_leaf=1, max_features=auto, max_depth=25, total=   5.5s
[CV] n_estimators=590, min_samples_split=100, min_samples_leaf=1, max_features=auto, max_depth=25
[CV]  n_estimators=590, min_samples_split=100, min_samples_leaf=1, max_features=auto, max_depth=25, total=   5.4s
[CV] n_estimators=263, min_samples_split=15, min_samples_leaf=2, max_features=auto, max_depth=20
[CV]  n_estimators=263, min_samples_split=15, min_samples_leaf=2, max_features=auto, max_depth=20, total=   3.2s
[CV] n_estimators=263, min_samples_split=15, min_samples_leaf=2, max_features=auto, max_depth=20
[CV]  n_estimators=263, min_samples_split=15, min_samples_leaf=2, max_features=auto, max_depth=20, total=   3.2s
[CV] n_estimators=263, min_samples_split=15, min_samples_leaf=2, max_features=auto, max_depth=20
[CV]  n_estimators=263, min_samples_split=15, min_samples_leaf=2, max_features=auto, max_depth=20, total=   3.2s
[CV] n_estimators=263, min_samples_split=15, min_samples_leaf=2, max_features=auto, max_depth=20
[CV]  n_estimators=263, min_samples_split=15, min_samples_leaf=2, max_features=auto, max_depth=20, total=   3.3s
[CV] n_estimators=263, min_samples_split=15, min_samples_leaf=2, max_features=auto, max_depth=20
[CV]  n_estimators=263, min_samples_split=15, min_samples_leaf=2, max_features=auto, max_depth=20, total=   3.3s
[CV] n_estimators=836, min_samples_split=2, min_samples_leaf=10, max_features=sqrt, max_depth=30
[CV]  n_estimators=836, min_samples_split=2, min_samples_leaf=10, max_features=sqrt, max_depth=30, total=   3.9s
[CV] n_estimators=836, min_samples_split=2, min_samples_leaf=10, max_features=sqrt, max_depth=30

[CV]  n_estimators=836, min_samples_split=2, min_samples_leaf=10, max_features=sqrt, max_depth=30, total=   3.9s
[CV] n_estimators=836, min_samples_split=2, min_samples_leaf=10, max_features=sqrt, max_depth=30
[CV]  n_estimators=836, min_samples_split=2, min_samples_leaf=10, max_features=sqrt, max_depth=30, total=   3.9s
[CV] n_estimators=836, min_samples_split=2, min_samples_leaf=10, max_features=sqrt, max_depth=30
[CV]  n_estimators=836, min_samples_split=2, min_samples_leaf=10, max_features=sqrt, max_depth=30, total=   3.9s
[CV] n_estimators=836, min_samples_split=2, min_samples_leaf=10, max_features=sqrt, max_depth=30
[CV]  n_estimators=836, min_samples_split=2, min_samples_leaf=10, max_features=sqrt, max_depth=30, total=   4.0s
[CV] n_estimators=181, min_samples_split=100, min_samples_leaf=5, max_features=sqrt, max_depth=25
[CV]  n_estimators=181, min_samples_split=100, min_samples_leaf=5, max_features=sqrt, max_depth=25, total=   0.7s
[CV] n_estimators=181, min_samples_split=100, min_samples_leaf=5, max_features=sqrt, max_depth=25
[CV]  n_estimators=181, min_samples_split=100, min_samples_leaf=5, max_features=sqrt, max_depth=25, total=   0.7s
[CV] n_estimators=181, min_samples_split=100, min_samples_leaf=5, max_features=sqrt, max_depth=25
[CV]  n_estimators=181, min_samples_split=100, min_samples_leaf=5, max_features=sqrt, max_depth=25, total=   0.7s
[CV] n_estimators=181, min_samples_split=100, min_samples_leaf=5, max_features=sqrt, max_depth=25
[CV]  n_estimators=181, min_samples_split=100, min_samples_leaf=5, max_features=sqrt, max_depth=25, total=   0.7s
[CV] n_estimators=181, min_samples_split=100, min_samples_leaf=5, max_features=sqrt, max_depth=25
[CV]  n_estimators=181, min_samples_split=100, min_samples_leaf=5, max_features=sqrt, max_depth=25, total=   0.7s
[CV] n_estimators=263, min_samples_split=2, min_samples_leaf=10, max_features=sqrt, max_depth=5
[CV]  n_estimators=263, min_samples_split=2, min_samples_leaf=10, max_features=sqrt, max_depth=5, total=   0.8s
[CV] n_estimators=263, min_samples_split=2, min_samples_leaf=10, max_features=sqrt, max_depth=5
[CV]  n_estimators=263, min_samples_split=2, min_samples_leaf=10, max_features=sqrt, max_depth=5, total=   0.8s
[CV] n_estimators=263, min_samples_split=2, min_samples_leaf=10, max_features=sqrt, max_depth=5
[CV]  n_estimators=263, min_samples_split=2, min_samples_leaf=10, max_features=sqrt, max_depth=5, total=   0.8s
[CV] n_estimators=263, min_samples_split=2, min_samples_leaf=10, max_features=sqrt, max_depth=5
[CV]  n_estimators=263, min_samples_split=2, min_samples_leaf=10, max_features=sqrt, max_depth=5, total=   0.8s
[CV] n_estimators=263, min_samples_split=2, min_samples_leaf=10, max_features=sqrt, max_depth=5
[CV]  n_estimators=263, min_samples_split=2, min_samples_leaf=10, max_features=sqrt, max_depth=5, total=   0.8s

[Parallel(n_jobs=1)]: Done 250 out of 250 | elapsed: 19.4min finished

RandomizedSearchCV(cv=5, estimator=RandomForestRegressor(), n_iter=50,
                   param_distributions={'max_depth': [5, 10, 15, 20, 25, 30],
                                        'max_features': ['auto', 'sqrt'],
                                        'min_samples_leaf': [1, 2, 5, 10],
                                        'min_samples_split': [2, 5, 10, 15,
                                                              100],
                                        'n_estimators': [100, 181, 263, 345,
                                                         427, 509, 590, 672,
                                                         754, 836, 918, 1000]},
                   random_state=0, scoring='neg_mean_squared_error', verbose=2)

In [57]:
y_pread=rf_random.predict(x_test)